.no-task-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.no-task-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000a;
  border-radius: 14px;
  opacity: 1;
  padding: 36px 48px;
  text-align: center;
  min-width: 320px;
}

.no-task-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  color: #537178;
  opacity: 1;
  margin: 0 0 24px 0;
}

@media (max-width: 768px) {
  .no-task-container {
    padding: 12px 0px;
    align-items: flex-start;
  }

  .no-task-card {
    padding: 40px 24px;
    min-width: auto;
    width: 100%;
    box-shadow: 0px 3px 6px #0000000a;
    border-radius: 0px;
  }

  .no-task-text {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 20px 0;
  }
}
