.pie-chart-container {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  cursor: pointer;
}

.pie-chart {
  width: 100%;
  height: 100%;
}

.pie-chart-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pie-chart-tooltip {
  position: absolute;
  top: 20%;
  right: -130px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 8px 12px;
  white-space: nowrap;
  z-index: 10;
}

.pie-chart-tooltip-left {
  left: -130px;
  right: auto;
  top: 60%;
}

.pie-chart-label {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #537178;
}

.pie-chart-divider {
  width: 100%;
  height: 1px;
  background: #e5e7eb;
  margin: 6px 0;
}

.pie-chart-value {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1f2937;
}

.pie-chart-label-default {
  position: absolute;
  top: 10%;
  right: -70px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  color: #5285EC;
  opacity: 1;
}
